* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.box-image {
  width: 100%;
  height: 200px;
}

.box-image:first-child {
  background-image: url(img6/box1.jpg);
  background-size: cover;
  background-position: center;
}

.box-image:nth-child(2) {
  background-image: url(img6/box2.jpg);
  background-size: cover;
  background-position: center;
}

.box-image:nth-child(3) {
  background-image: url(img6/box3.jpg);
  background-size: cover;
  background-position: center;
}

.box-image:last-child {
  background-image: url(img6/box4.jpg);
  background-size: cover;
  background-position: center;
}